<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>528029530340-pjqihc6o7kqd04lfenm6a4cscnnltiho.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.528029530340-pjqihc6o7kqd04lfenm6a4cscnnltiho</string>
	<key>API_KEY</key>
	<string>AIzaSyDVmg4KdRmUIo0DLKLR4jNcPw3iBp5OdJk</string>
	<key>GCM_SENDER_ID</key>
	<string>528029530340</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instaApp</string>
	<key>PROJECT_ID</key>
	<string>insta-clone-e7d75</string>
	<key>STORAGE_BUCKET</key>
	<string>insta-clone-e7d75.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:528029530340:ios:25e927297d9ace750714f1</string>
</dict>
</plist>